<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="index.css">
        <title>The Ultimate Chat Terminator</title> 
        <meta charset=utf-8> 
    </head>

    <body style="font-family: Arial, Verdana, Sans-serif; border-style: solid; border-color:#557A95;">

    <h1 style="text-align: center;">The Ultimate Chat terminator</h1>
    <p style="text-align: center;">If you are bombed with tons of messages from someone twenty-four-hour a day<br />feel guilty to ignore his or her message<br />but are so tired to think of something to reply, <br />we can help you by generating ramdom chat reply, <br />to end the chat once and for all</p>
    <h2 style="text-align: center;">Please enter the key word and the word limit:</h2>
    <form action="#" method = "POST">
        <div>
            <input style="border-style: solid; font-family: Arial, Verdana, Sans-serif; font-size: 20px; margin-bottom: 10px; border-color: #659DBD; display: block; margin-left: auto; margin-right: auto;"  \
         type="text" name="chat" value="watch movie" />
        </div>
        <div>
            <input style="border-style: solid; font-family: Arial, Verdana, Sans-serif; font-size: 20px; margin-bottom: 10px; display: block; margin-left: auto; margin-right: auto; border-color: #659DBD;" \
         type="int" name="number" value="640" />
        </div>
        <div>
            <input style="background-color:#29648A; border-radius: 5px; color: white; font-family:  Arial, Verdana, Sans-serif; font-size: 20px; display: block; margin-left: auto; margin-right: auto;" type="submit" value="Generate" >
        </div>
    </form>


    <div id="message">
        <p style="font-family: Arial, Verdana, Sans-serif; font-size: 20px; margin-left: 50px; margin-right: 50px;">{{ output }}</p>
    </div>


    </body>
</html>